
<form action="{% url 'book_edited' %}" method="POST">
  
    <div class="form-group">
        <label for="isbn">Isbn:</label>
        <input type="text" class="form-control" name="isbn" value="{{context.isbn}}" hidden>
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="title" value="{{context.title}}">
    </div>
    <div class="form-group">
        <label for="year">Year:</label>
        <input type="text" class="form-control" name="year" value="{{context.year}}">
    </div>
    <div class="form-group is-grouped mt-3">
        <button class="btn btn-success"><i class="bi bi-plus-lg"></i></button>
        <button class="btn btn-danger"><i class="bi bi-x-square"></i></button>
    </div>
</form>

{% endif %}

{% endblock %}