{% extends 'core/base.html' %}

{% block content %}

<h1>This is the list book from library view</h1>

<table class="table">
  
    <thead>
        <tr>
            <th>Isbn</th>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for b in book_list %}

        <tr>
            <td>{{ b.isbn }}</td>
            <td>{{ b.title }}</td>
            <td>{{ b.year }}</td>
            <td>
                {% for c in b.category.all %}
                {{ c.name }}
                <br>
                {% endfor %}
            </td>
            <td>
                {{b.author}}
            </td>
            <td>
                <div class="d-flex">
                    <a class="btn btn-danger" href="{% url 'book_deleted' b.isbn %}"><i class="bi bi-trash"></i></a>               
                    <a class="btn btn-warning" href="{% url 'book_edit' b.isbn %}"><i class="bi bi-pencil-square"></i></a>
                </div>
            </td>
        </tr>

        {% endfor%}

    </tbody>
</table>

{% endblock %}